<% provide(:title, 'Sign up') %>


<div class="container">
  <div class="row">
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_td_5">
      <p class="section_title margin_bottom_20"><%=t("generals.user.create_new_account")%></p>
    <%= form_for(@user) do |f| %>

        <%= render 'shared/error_messages', object: f.object %>

        <%= f.label :name, class:"body_copy" %>
        <%= f.text_field :name, class: 'body_copy form-control form_fields ' %>

        <%= f.label :email, class:"body_copy" %>
        <%= f.email_field :email, class: 'body_copy form-control form_fields ' %>

        <%= f.label :password, class:"body_copy" %>
        <%= f.password_field :password, class: 'body_copy form-control form_fields ' %>

        <%= f.label :password_confirmation, class:"body_copy" %>
        <%= f.password_field :password_confirmation, class: 'body_copy form-control form_fields ' %>

        <%= f.submit t("generals.button.create_account"), class: "normal_button " %>
    <% end %>
  </div>
</div>
</div>
