<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 padding_td_5 ">
  <p class="section_title"><%=t("generals.user.informations")%></p>
  <p class="body_copy"><%=t("generals.edit_tutorial_1")%></p>
  <p class="body_copy"><%=t("generals.edit_tutorial_2")%></p>
  <p class="body_copy"><%=t("generals.edit_tutorial_3")%></p>
  <p class="body_copy"><%=t("generals.edit_tutorial_4")%></p>
  <p class="body_copy"></p>
</div>