<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 padding_td_5">
  <hr>
  <p class="section_title"><%= link_to app.title,
                                       app_path(app.id) %></p>

  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 ">
    <p class="body_copy"><b><%=t("generals.user.informations")%>: </b></p>

    <p class="body_copy"><%=t("generals.app_info.plattform")%>: <%= app.plattform %></p>

    <p class="body_copy"><%=t("generals.app_info.project_id")%>: <%= app.id %></p>

    <p class="body_copy"><%=t("generals.app_info.creator")%>:
      <% if app.user.nil? %>
          -
      <% else %>
          <%= app.user.name %>
      <% end %></p>
  </div>
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 ">
    <p class="body_copy"><b><%=t("generals.options")%>: </b></p>

    <p class="body_copy"><%= link_to t("generals.to_project"),
                            {controller:"apps", action: "show",
                            id: app.id},
                            class: "",
                            method: :get%></p>

    <p class="body_copy"><%= link_to t("generals.button.delete"),
                                     app_path(app.id),
                                     :method => :delete,
                                     data: {confirm: "Sind Sie sicher?!"}, class: "" %></p>
  </div>

</div>